@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: #232536;
  width: 100%;
}
.navwrap {
  padding: 0 20px;
  .navright {
    .nav-list {
      list-style-type: none;
      margin-bottom: 0;
      a {
        text-decoration: none;
        li {
          font-family: "Inter";
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          display: flex;
          align-items: center;
          color: #ffffff;
        }
      }
    }
    .btn {
      padding-top: 13px;
      padding-bottom: 11px;
      a {
        text-decoration: none;
        background-color: #ffffff;
        font-family: "Sen";
        margin-left: 130px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #232536;
        padding: 15px 40px;
      }
    }
  }
}
#login {
  h1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  input[type="text"],
  select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 70%;
    background-color: #FFD050;
    color: black;
    font-weight: bold;
    margin-top: 50px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #FFD050;
  }

  div {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 200px;
  }
}

footer {
  background-color: #232536;
  width: 100%;
  .footer_wrap {
    align-items: center;
    padding: 50px 0;
    .wrap_right {
      p {
        font-family: "Inter";
        margin-bottom: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #ffffff;
        opacity: 0.7;
      }
    }
  }
}
