@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: #232536;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  transition: 0.5s;
}

.navbar-shrink {
  box-shadow: rgb(245, 245, 245);
  background-color: #232545;
  z-index: 2;
  margin: -10px 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 13px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 16px 0;
}
.nav .nav-left a img {
  padding-bottom: 20px;
}
.nav .nav-right {
  display: flex;
  align-items: center;
}
.nav .nav-right #navbar-close {
  background-color: transparent;
  border: none;
  display: none;
}
.nav .nav-right .nav-right__links {
  display: flex;
  align-items: center;
}
.nav .nav-right .nav-right__links li {
  padding: 0 24px;
}
.nav .nav-right .nav-right__links li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.nav .nav-right .nav-right__links li a:hover {
  color: #e5e5e5;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: 0.5s;
}
.nav .nav-right .nav-right__links .navbar-register {
  padding-right: 28px;
}
.nav .nav-right .nav-right__links .navbar-login {
  width: 147px;
  height: 56px;
  background: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232536;
  cursor: pointer;
}
.nav .nav-right #navbar-open {
  background-color: transparent;
  border: none;
  display: none;
}

footer {
  background: #232536;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 164px;
}
.footer .footer-left {
  display: flex;
  flex-direction: column;
}
.footer .footer-left span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.7;
}
.footer .footer-right a img {
  padding-left: 27px;
}
.footer .footer-right a img:hover {
  transform: translateY(-0.25rem);
  transition: transform 0.3s;
}

@media (max-width: 900px) {
  .nav .nav-left a img {
    padding-top: 20px !important;
  }
  .nav .nav-right {
    position: relative;
  }
  .nav .nav-right #navbar-close {
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
  }
  .nav .nav-right .nav-right__links {
    display: block;
  }
  .nav .nav-right .nav-right__links .navbar-register {
    padding-right: 0 !important;
  }
  .nav .nav-right #navbar-open {
    display: block;
    padding-left: 10px;
  }
  .nav #navbar-responsive {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    height: 100vh;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: 0.5s;
  }
  .nav .nav-right__links {
    display: flex !important;
    align-items: center;
  }
  .nav .nav-right__links li {
    text-align: center;
    padding: 20px 0 !important;
  }
  .nav .nav-right__links li a {
    font-size: 24px !important;
    color: #fff !important;
  }
}
@media (max-width: 500px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer .footer-left {
    padding-bottom: 24px !important;
  }
  .footer .footer-right {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer .footer-right a img {
    padding-left: 0 !important;
  }
}
.navwrap {
  padding: 0 20px;
}
.navwrap .navright .nav-list {
  list-style-type: none;
  margin-bottom: 0;
}
.navwrap .navright .nav-list a {
  text-decoration: none;
}
.navwrap .navright .nav-list a li {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.navwrap .navright .btn {
  padding-top: 13px;
  padding-bottom: 11px;
}
.navwrap .navright .btn a {
  text-decoration: none;
  background-color: #ffffff;
  font-family: "Sen";
  margin-left: 130px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #232536;
  padding: 15px 40px;
}

main #startup {
  background-color: #f4f0f8;
}
main #startup .startup_blog h1 {
  padding-top: 80px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  /* identical to box height, or 114% */
  text-align: center;
  letter-spacing: -2px;
  /* Black */
  color: #232536;
}
main #startup .startup_blog p {
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  text-align: center;
  /* Medium grey */
  color: #6d6e76;
}
main #startup .startup_blog h6 {
  font-family: "Inter";
  font-style: normal;
  padding-bottom: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* Black */
  color: #232536;
}
main #search {
  position: relative;
}
main #search #myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  margin-top: 30px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
main #search #myUL {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}
main #search #myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}
main #search #myUL li a:hover:not(.header) {
  background-color: #eee;
}
main #website .website_wrap {
  margin-bottom: 30px;
}
main #website .website_wrap .website_right h5 {
  font-family: "Inter";
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
  /* Purple */
  color: #592ea9;
}
main #website .website_wrap .website_right h3 {
  font-family: "Sen";
  margin-bottom: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  letter-spacing: -2px;
  /* Black */
  color: #232536;
}
main #website .website_wrap .website_right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  /* Medium grey */
  color: #6d6e76;
}

footer {
  background-color: #232536;
  width: 100%;
}
footer .footer_wrap {
  align-items: center;
  padding: 50px 0;
}
footer .footer_wrap .wrap_right p {
  font-family: "Inter";
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.7;
}